* {
  margin: 0;
}

html,
body {
  top: 0;
  bottom: 0;
  height: 100%;
  font-family: unset !important;
}

p {
  padding: 10px 0;
}

/********************************  Sidenav right *******************************************/
.sidenav2 {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 27.8vw; /* Set the width of the sidebar */
  margin-left: calc(100% - 27.8vw);
  margin-top: 60px;
  position: fixed;
  z-index: 0; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0;
  background-color: rgba(0, 131, 143, 0.09);
  border-left: 1px solid rgba(0, 131, 143, 0.178);
  font-family: "Roboto", sans-serif;
}

.sidenav2 ul {
  margin: 0;
}

.sidenav2 a:hover {
  text-decoration: none;
}

.sidenav2 li {
  cursor: pointer;
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
}

.sidenav2 li a {
  text-decoration: none;
  color: black;
}

.sidenav2 li a:hover {
  color: #516169;
}

.sidenav2 label {
  display: block;
  text-align: left;
  padding: 20px 0 20px 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/**************************************  content *********************************************/
.content {
  margin-left: 0;

  width: 100%; /**/
  height: 100%;
  position: absolute;
  z-index: 0;
  /*display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% auto;
}

.flexH1 {
  display: grid;
  height: 50vh !important;
  background-image: url("../Imagenes/ArduinoBase.jpg");

  object-fit: cover;
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-items: end;
}

.styleFooter {
  font-size: 14px !important;
  display: block !important;
  text-align: center !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.bg-grey {
  background: #292929;
}

.container {
  display: flex;
  height: 100%;
}

div.col {
  flex-basis: auto;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.logo-footer {
  margin-bottom: 40px;
  width: 38%;
}

.your-item {
  position: relative;
}

.your-item:after {
  content: "";
  height: 65%; /*You can change this if you want smaller/bigger borders*/
  width: 1px;
  margin-top: 50px;
  position: absolute;
  right: 0;
  top: 0; /* If you want to set a smaller height and center it, change this value*/

  background-color: rgba(85, 85, 85, 0.342); /* The color of your border*/
}

.your-item2:after {
  content: "";
  height: 85%; /*You can change this if you want smaller/bigger borders*/
  width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: 0; /* If you want to set a smaller height and center it, change this value*/
  opacity: 0.4;
  background-color: rgba(39, 37, 37, 0.342); /* The color of your border*/
}

footer .btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 2% 3%;
  line-height: 47px;
}
footer .btn-footer:hover {
  text-decoration: none;
}

footer {
  min-height: 250px;
}

.bg-grey {
  background: #292929;
}

footer {
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
footer p,
footer a {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
footer h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

footer .btn-footer:hover {
  text-decoration: none;
}
footer .form-footer input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;
}
::placeholder {
  font-size: 15px;
  padding-left: 10px;

  font-style: italic;
}
footer .form-footer button {
  border: none;
  background: #232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 2px 12px;
}
footer .social .fa {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}
footer ul li {
  list-style: none;
  display: block;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}
footer > a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}
.social a {
  text-align: center;
  transition: all 0.3s ease;
  color: rgba(128, 128, 128, 0.658);
  font-size: 30px;
  text-decoration: none;
}

.topContent {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: #555;
  border-radius: 2%;
  width: 90%;
  height: 70vh;
  margin: 5px auto 10% auto;
  box-shadow: 0 0 10px gray;
  width: 100%;
}

/* 
========================
      BUTTON 
========================
*/
.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.055);
  transition: all 0.3s;
  border-radius: 10px;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
  border-radius: 10px;
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.box-3 {
  padding: 65% 0;
}
.hidden {
  display: none;
}
.lista li a {
  color: whitesmoke;
  text-decoration: none;
}
.lista li a:hover {
  color: rgb(180, 180, 180);
  transition: all 0.2s ease-in-out;
}
.teoria ul,
.laboratorio ul,
.descargas ul {
  padding: 0;
}
.lista li {
  padding: 10px 0;
}
.lista.hidden ul,
.lista ul li {
  transition: 0.3s;
}
.laboratorio {
  padding: 15% 0;
}
.teoria {
  padding: 50% 0;
}

.descargas {
  padding: 50% 0;
}

/**************************************  h1-content *********************************************/

.h1-content {
  width: 100%;
  height: 150px;
  float: left;
}

.content .h1-content h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4.2vw;
  margin-top: 25px;
  padding-top: 55px;
}
.active {
  /*border-left: 3px solid #1fc9d8;*/
  background-color: #1fc9d833;
}

.main-content {
  margin-top: 30vh;
  min-height: 100%;
  /*padding: 1.04vw 4.9vw 1.04vw 4.9vw;*/
  flex: 1 0 auto;
  margin-bottom: -250px;
  font-family: "Roboto", sans-serif;
}

/**************************************  Top-menu content *********************************************/
#nav-icon2 {
  display: none;
}

.top-content {
  height: 60px;
  width: 100%;
  background-color: /*#263238*/ #292929;
  position: fixed;
  z-index: 2;
  color: gray;
}
/********************* icon bar *******************************/
.icon-bar {
  position: absolute;
  float: left;
}

.icon-bar a {
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.fas {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200%;
}

.subContent {
  display: none;
}

.lista .sub a {
  text-decoration: none !important;
  color: inherit !important;
  
}
.lista .sub a:hover {
  color: #c2c7caea !important;
  transition: all 0.2s;
}
.lista ul > a,
.lista ul a {
  display: block;
  padding: 7px 0;
}


.lista ul > a {
  cursor: pointer;
  background-color: rgb(255 255 255 / 13%);
  border-radius: 10px;
  transition: all 0.3s;
  margin: 5px 0;
  border: 1px solid #ffffff17;
}
.lista ul > a:hover{
  background-color: rgb(255 255 255 / 0);
  }

.sub {
  border-radius: 10px;
  border-bottom: 1px solid #ffffff17;
  border-right: 1px solid #ffffff17;
  border-left: 1px solid #ffffff17;
}
.laboratorio ul > a:nth-child(3),
.laboratorio ul > a:nth-child(4), 
.laboratorio ul > a:nth-child(5),
.laboratorio ul > a:nth-child(6), 
.laboratorio ul > a:nth-child(7){
  text-decoration: none;
  color: inherit;
}

.firstElementCoverDevice{
  display: none;
}

